@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

body{
  background-color: #a9ad9b;
}

.titlePage{
  background-color: #434933;
  min-height: 80px;
}
.titlePage img{
  margin-top: 3%;
  width:80%;
  height:100%;
  display:block;
}

.title{
  color: white;
    font-family: "LemonMilk";
    text-align: center;
}

.btnAdmin{
  background-color: white;
  height: 200px;
}

.lineAdmin{
  background-color: #434933;
  text-align: center;
  color: white;
  font-family: "LemonMilk";
  margin-bottom: 25px;
  min-height: 8vh;
  box-shadow: 10px 10px 20px 0px #656565;
  transition: 300ms;
}
.lineAdmin h3{
line-height: 8vh;
}

#profil{
  height: 300px;
  background-color: #a9ad9b;
  border-radius: 10px;
  position: relative;
}

#nameProfil{
  font-family: 'Raleway';
  border-bottom: solid 3px #434933;
  padding-top: 15px;
  text-align: center;
  font-family: 'LemonMilk';
  color: whitesmoke;
}

#nameProfil h3{
  font-size: calc(0.5em + 1vw);
}

#decoProfil{
  bottom: 0;
  position: absolute;
  padding-top: 10px;
  font-size: 20px;
  background-color: #9CBD57;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  transition: 300ms;
}

#decoProfil a{
  font-size: calc(0.5em + 1vw);
}

#decoProfil:hover{
  background-color: #de1c1c;
}

.lineAdmin:hover{
  background-color: #292d1e;
}

.lineAdmin:hover + .lineAdmin a{
  text-decoration: none;
}

#navAdmin{
  margin-top: 60px;
}

.delete{
  background-color: red;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
}

.modify{
  background-color: green;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
}

.modify a{
  color: white;
  font-weight: 600;
}

.delete:hover{
  background-color: darkred;
}

.modify:hover{
  background-color: darkgreen;
}

h2{
  color: white;
  text-align: center;
}
a{
  width: 100%;
}

#navAdmin{
  max-height: 100vh;
    min-height: 50vh;
}

#profilAdmin{
  max-height: 100vh;
  background-color: #434933;
}


#profilAdminMobile{
  max-height: 100vh;
  background-color: #434933;
}

#nameProfilMobile{
  color: whitesmoke;
  font-family: 'LemonMilk';
}
#decoProfilMobile{
  background-color: #9CBD57;
  color: white;
  transition: 300ms;
  text-align: center;
  font-size: calc(0.5em + 1vw);
}

#decoProfilMobile:hover{
    background-color: #de1c1c;
}

#decoProfilMobile i{
  margin-right: 10px;
}

#imgProfilAdmin{
  background-image: url('../images/logovillet.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}
