@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

body{
  background-color: #a9ad9b;
}

.titlePage{
  background-color: #434933;
  min-height: 80px;
}
.titlePage img{
  margin-top: 3%;
  width:80%;
  height:100%;
  display:block;
}

.title{
  color: white;
    font-family: "LemonMilk";
    text-align: center;
}

.btnAdmin{
  background-color: white;
  height: 200px;
}

.lineAdmin{
  background-color: #434933;
  text-align: center;
  color: white;
  font-family: "LemonMilk";
  margin-bottom: 25px;
  min-height: 8vh;
  box-shadow: 10px 10px 20px 0px #656565;
  transition: 300ms;
}
.lineAdmin h3{
line-height: 8vh;
}

#profil{
  height: 300px;
  background-color: #a9ad9b;
  border-radius: 10px;
  position: relative;
}

#nameProfil{
  font-family: 'Raleway';
  border-bottom: solid 3px #434933;
  padding-top: 15px;
  text-align: center;
  font-family: 'LemonMilk';
  color: whitesmoke;
}

#nameProfil h3{
  font-size: calc(0.5em + 1vw);
}

#decoProfil{
  bottom: 0;
  position: absolute;
  padding-top: 10px;
  font-size: 20px;
  background-color: #9CBD57;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  transition: 300ms;
}

#decoProfil a{
  font-size: calc(0.5em + 1vw);
}

#decoProfil:hover{
  background-color: #de1c1c;
}

.lineAdmin:hover{
  background-color: #292d1e;
}

.lineAdmin:hover + .lineAdmin a{
  text-decoration: none;
}

#navAdmin{
  margin-top: 60px;
}

.delete{
  background-color: red;
  text-align: center;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
}

.modify{
  background-color: green;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
}

.modify a{
  color: white;
  font-weight: 600;
}

.delete:hover{
  background-color: darkred;
}

.modify:hover{
  background-color: darkgreen;
}

h2{
  color: white;
  text-align: center;
}
a{
  width: 100%;
}

#navAdmin{
  max-height: 100vh;
    min-height: 50vh;
}

#profilAdmin{
  max-height: 100vh;
  background-color: #434933;
}


#profilAdminMobile{
  max-height: 100vh;
  background-color: #434933;
}

#nameProfilMobile{
  color: whitesmoke;
  font-family: 'LemonMilk';
}
#decoProfilMobile{
  background-color: #9CBD57;
  color: white;
  transition: 300ms;
  text-align: center;
  font-size: calc(0.5em + 1vw);
}

#decoProfilMobile:hover{
    background-color: #de1c1c;
}

#decoProfilMobile i{
  margin-right: 10px;
}

#imgProfilAdmin{
  background-image: url('../images/logovillet.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

#backToWeb{
    font-family: 'Raleway';
    border-bottom: solid 3px #434933;
    padding-top: 15px;
    text-align: center;
    font-family: 'LemonMilk';
    color: whitesmoke;
    transition: 300ms;
}

#backToWeb:hover{
  background-color:#434933;
}

a:hover{
  text-decoration: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  padding: 1em 0 1em 1em;
  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding.
  via: https://cssdeck.com/labs/styling-select-box-with-css3 */
  border: 3px solid #7b993d;
  border-radius: 0;
  position: relative;
  border-right-width: 20px;
  background-color: #434933;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.tox-notification-container{
  display: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 1em;
  }
}
select:focus {
  outline: none;
  border-color: #7b993d;
}


.form-control{
  border: 3px solid #7b993d;
  background-color: #434933;
  border-radius: 0px;
  color: white;
}

label{
  background-color: #7b993d;
  margin-bottom: 0px;
  padding-right: 50px;
  padding-left: 20px;
  color: white;
  border-top-right-radius: 30px;
}

input{
  color: white;
}

#mainContainer h3{
  text-align: center;
  font-family: 'LemonMilk';
  color: #434933;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-content{
  border: 10px solid #7b993d;
border-radius: 0;
background-color: #434933;
color: #fff;
}

.modal-header {
  font-family: 'LemonMilk';
  text-align: center;
  display: block;
  font-size: 30px;
}

.modal-footer .btn{
  height: 45px;
  width: 100px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: #9cbd57;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
