body{
  background-color: #a9ad9b;
}

.nav-item .nav-link{
  font-size: 20px;
  width: 12.5vw;
  text-align: center;
}

@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-family: 'LemonMilk';
}

.navbar-light{
  background-color: #434933;
}

.navbar-brand img{
  width: 10vw;
  position: absolute;
  top: -20px;
  left: 42vw;
  z-index: 20000;
}

#frontImage{
  background-color: red;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('../images/papier.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#frontImage h1{
  font-family: 'LemonMilk';
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 28%;
  font-size: 50px;
  color: white;
}

#breadcrumbs{
  padding-top: 20px;
  min-height: 60px;
  background-color: #9cbd57;
}

#breadcrumbs p{
  line-height: 20px;
  color: white;
  font-family: 'LemonMilk';
}


#change {
min-height:200px;
background-color:#434933;
margin-bottom: 20px;
}

.imgAssoc{
  min-height: 200px;
}

.imgAssoc img{
  width: 100%; height: 100%;
object-fit: cover;
}

#change h2{
  color: white;
  font-family: 'LemonMilk';
  padding-top: 20px;
  margin-bottom: 15px;
}

#change p{
  color: white;
}

#change .second{
  background-color: #626b49;
}

.blocDemarche{
  height: 400px;
  background-color: red;
  margin-top: 50px;
}

.blocList{
  height: 400px;
  position: relative;
  background-color: #626B49;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #434933 #9CBD57;
  scrollbar-width: thin;
}
.blocShow{
  height: 400px;
  position: relative;
  background-color: #434933;
}

.demarche{
  height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.demarche :hover{
  background-color: red;
}

.demarche p{
  color: white;
  font-size: 15px;
  font-family: 'Raleway';
}

.active{
  background-color: #484c3b;
}

tr {
  color: white;
  font-family: 'Raleway';
}

.table th{
  border-top: 0px;
}

.intro{
  text-align: center;
}

.intro p{
  color: white;
  font-family: 'Raleway';
font-size: 20px;
}


@media screen and (max-width: 800px) {
  #frontImage h1{
    left: 29%;
  }
}

@media screen and (max-width: 500px) {
  #frontImage h1{
    left: 19%;
    font-size: 40px;
  }
}
