body{
  background-color: #455A70;
}

.nav-item .nav-link{
  font-size: 20px;
  width: 12.5vw;
  text-align: center;
}

@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-family: 'LemonMilk';
}

.navbar-light{
  background-color: #003D6C;
}

.navbar-brand img{
  width: 10vw;
  position: absolute;
  top: -20px;
  left: 42vw;
  z-index: 20000;
}

#frontImage{
  background-color: red;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('../images/associations.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#frontImage h1{
  font-family: 'LemonMilk';
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 35vw;
  font-size: 50px;
  color: white;
}

#breadcrumbs{
  padding-top: 20px;
  min-height: 60px;
  background-color: #9cbd57;
}

#breadcrumbs p{
  line-height: 20px;
  color: white;
  font-family: 'LemonMilk';
}


.intro{
  text-align: center;
}

.intro p{
  color: white;
  font-family: 'Raleway';
font-size: 20px;
}


#change {
min-height:200px;
background-color:#003D6C;
margin-bottom: 20px;
margin-top: 30px;
}

.imgAssoc{
  min-height: 200px;
}

.imgAssoc img{
  width: 100%; height: 100%;
object-fit: cover;
}

#change h2{
  color: white;
  font-family: 'LemonMilk';
  padding-top: 20px;
  margin-bottom: 15px;
}

#change p{
  color: white;
}

.card-header{
  background-color: #003D6C;
    border-radius: 0px;
}

.card-header:first-child{
  border-radius: 0px;
}

.card{
  border-radius: 0px;
  border: transparent;
}

.btn-link{
  color: white;
}

.card-body a{
  color: black;
  transition: 200ms;
}

.card-body a:hover{
  color: #4B8AFF;
}

.lastCR > li:nth-child(1)::before{
  content: "‼";
}

.lastCR > li:nth-child(1) a{
  color: #4B8AFF;
  font-weight: bold;
}

.lastCR > li:nth-child(1){
  color: #4B8AFF;
  font-weight: bold;
}
