@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}
body{
  background-color: #A9AD9B;
}
div{
  margin: auto;
}
h1{
  color: white;
  font-family: 'LemonMilk';
  text-align: center;
  background-color: #434933;
  padding-top: 10px;
  padding-bottom: 10px;
}
#loginBox{
  padding-top: 25px;
  background-color: #434933;
  margin-top: 5vh;
  padding-bottom: 25px;
}
.form-group label{
  color: white;
  font-family: 'LemonMilk';
  color:white;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.form-group input{
  border:none;
  background: none;
  width: 50%;
  border-bottom: solid white 5px;
  color: white;
  margin: auto;
}
.form-group input:focus{
  border:none;
  background: none;
  width: 50%;
  border-bottom: solid white 5px;
  color: white;
  margin: auto;
  outline: none;
}
button{
  border:solid white 5px;
  background: none;
  color: white;
  font-family: 'LemonMilk';
  font-size: 20px;
  display: block;
  margin: auto;
  cursor: pointer;
  margin-top: 50px;
}
button:hover, button:focus{
  border:solid #A9AD9B 5px;
  background: none;
  color: #A9AD9B;
  font-family: 'LemonMilk';
  font-size: 20px;
  display: block;
  margin: auto;
  cursor: pointer;
  margin-top: 50px;
}
.errorsLoginSub{
  text-align: center;
  color: red;
}
