body{
  background-color: #a9ad9b;
}

.nav-item .nav-link{
  font-size: 20px;
  width: 12.5vw;
  text-align: center;
}

@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-family: 'LemonMilk';
}

.navbar-light{
  background-color: #434933;
}

.navbar-brand img{
  width: 10vw;
  position: absolute;
  top: -20px;
  left: 44vw;
  z-index: 1;
}

#VIN{
  height: 340px;
  position: relative;
  color: white;
  font-family: 'LemonMilk';
  padding: 0;
  overflow: hidden;
  transition: 200ms;
  background-color: white;
}

.innerBackground{
  position: relative;
  height: 100%;
  background-size: cover;
  transition: 0.5s ease all;
}

.fondDark{
  position: relative;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.innerBackground:hover{
  transform: scale(0.95);
}

#VIN:hover{
}

#VIN p{
  margin-bottom: 0;
}

#VIN hr{
  border-color: white;
  border-width: 6px;
  margin-top: 5px;
}

#title{
  position: absolute;
  bottom: 5%;
  left: 2%;
  font-size: calc(1.3em + 1vw);
}

#read{
  position: absolute;
  bottom: 5%;
  right: 3%;
  font-size: 25px;
}

#read a{
  color: #9cbd57;
  transition: 200ms ease-in;
}

#read a:hover{
  text-decoration: none;
  color: #71893c;
}

#read hr{
  border-color: #9cbd57;
}

#important{
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 20px;
}

#actu{
  text-align: center;
}

#actu h1{
  color: #444939;
  font-size: calc(1.2em + 1vw);
  font-family: 'LemonMilk';
}

#actualités{
  margin-top: 30px;
}

#actualités hr{
  border-width: 9px;
  border-color: white;
  margin-top: 20px;
}

#filActu{
  margin-top: 30px;
}

#filActu hr{
  border-width: 4px;
  border-color: white;
  padding: 0;
  margin-top: 10px;
}

.imgActu{
  background-color: red;
  height: 150px;
  background-size: cover;
  transition: 500ms;
}

#article:before, #article:after {
  content: "";
  position: absolute;
  background: #434933;
  z-index: -1;
}

#article:before {
  top: -0.3rem;
  bottom: 100%;
  left: 50%;
  right: 50%;
  transition: bottom .1s 0s, left .3s .1s, right .3s .1s;
}
#article:after {
  top: 100%;
  bottom: -0.3rem;
  left: 50%;
  right: 50%;
  transition: top .1s 0s, left .3s .1s, right .3s .1s;
}

#article:hover:before {
  top: -0.3rem;
  bottom: 50%;
  left: -0.3rem;
  right: -0.3rem;
  transition: left .3s 0s, right .3s 0s, bottom .1s .3s;
}
#article:hover:after {
  top: 50%;
  bottom: -0.3rem;
  left: -0.3rem;
  right: -0.3rem;
  transition: left .3s 0s, right .3s 0s, top .1s .3s;
}


#filActu h3{
  font-size: 15px;
  color: #444939;
  font-family: 'LemonMilk';
  padding: 0;
  transition: 500ms;
}

#filActu .col-3{
  padding: 0;
}

#infoNews{
  margin-top: 10px;
}

#infoNews h3{
  text-align: center;
}

.titleNews{
  text-align: center;
  font-family: 'LemonMilk';
}
.titleNews h2{
  color: white;
  font-size: 26px;
}

#article{
  margin-bottom: 30px;
}

#article:hover h3{
  color: white;
}

button {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: #9cbd57;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  margin-top: 10px;
  margin-bottom: 60px;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

#breadcrumbs {
    padding-top: 20px;
    min-height: 60px;
    background-color: #9cbd57;
}

#breadcrumbs p {
    line-height: 20px;
    color: white;
    font-family: 'LemonMilk';
}

#breadcrumbs p a {
    color: white;
}

@media screen and (max-width: 994px) {
  #actu h1{
    font-size: 25px;
  }
  #actualités hr{
    margin-top:10px;
  }
  #filActu h3{
    font-size: 10px;
  }
  #filActu hr{
    margin-top:4px;
  }
}

@media screen and (max-width: 1200px) {

  #filActu h3{
    font-size: 13px;
  }
  #actu h1{
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  #actu h1{
    font-size: 16px;
  }

  #actualités hr{
    border-width: 5px;
  }
  #read{
    font-size: 20px;
  }
}
