body{
  background-color: #455A70;
}

.nav-item .nav-link{
  font-size: 20px;
  width: 12.5vw;
  text-align: center;
}

@font-face {
  font-family: "LemonMilk";
  src: url('../fonts/LemonMilk.otf');
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  font-family: 'LemonMilk';
}

.navbar-light{
  background-color: #003D6C;
}

.navbar-brand img{
  width: 10vw;
  position: absolute;
  top: -20px;
  left: 44vw;
  z-index: 1;
}

#frontImage{
  background-color: red;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('../images/villinfos.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

#frontImage h1{
  font-family: 'LemonMilk';
  text-align: center;
  font-size: 50px;
  color: white;
  margin-top: 140px;
}

#breadcrumbs{
  padding-top: 20px;
  min-height: 60px;
  background-color: #3887c4;
}

#breadcrumbs p{
  line-height: 20px;
  color: white;
  font-family: 'LemonMilk';
}

#breadcrumbs p a{
  color: white;
}

#change {
min-height:100px;
background-color:#003D6C;
margin-bottom: 20px;
margin-top: 30px;
float: left;
transition: 300ms;
}

#separator{
  clear: both;
}

.imgAssoc{
  min-height: 200px;
}

.imgAssoc img{
  width: 100%; height: 100%;
object-fit: cover;
}

#change h2{
  color: white;
  font-family: 'LemonMilk';
  padding-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

#change p{
  color: white;
  text-align: center;
}

#change:hover{
  background-color: #05263f;
  box-shadow: 10px 10px 20px 0px #003D6C;
}

.chooseYear{
  font-size: 4em;
  text-align: center;
  font-family: 'LemonMilk';
  padding-top: 50px;
  padding-bottom: 50px;
  color: #6496bc;
}

#select{
  margin: 0 auto;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  padding: 1em 0 1em 1em;
  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding.
  via: https://cssdeck.com/labs/styling-select-box-with-css3 */
  border: 3px solid #3887C4;
  border-radius: 0;
  position: relative;
  border-right-width: 20px;
  background-color: #003D6C;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  left: 34%;
  margin-top: 30px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 10em;
  }
}
select:focus {
  outline: none;
  border-color: #3887C4;
}

label {
  position: relative;
  display: inline-block;
}
label:after {
  display: block;
  font-size: 20px;
  width: 20px;
  position: absolute;
  height: 20px;
  top: 50%;
  margin-top: -14px;
  right: 0;
  color: #fff;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  select{
    left: 25%;
  }
}

@media screen and (max-width: 500px) {
  #frontImage h1{
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  select{
    left: 30%;
  }
}

@media screen and (max-width: 400px) {
  select{
    left: 16%;
  }
}
